In [1]:
import pandas as pd

In [2]:
ndna_file = 'final_amino_acid_result_ndna.csv'

In [3]:
dna_file = 'final_amino_acid_result_dna.csv'

In [4]:
dna = pd.read_csv(dna_file,skiprows= lambda x: True if x%2 else False)

In [5]:
ndna = pd.read_csv(ndna_file,skiprows= lambda x: True if x%2 else False)

In [6]:
dna.shape

(1299, 21)

In [7]:
ndna.shape

(1750, 21)

In [8]:
label = pd.DataFrame([1 for i in range(1299)]+[0 for i in range(1750)])

In [9]:
data = pd.concat([dna,ndna])

In [10]:
data.head()

,ID,AAC_A,AAC_C,AAC_D,AAC_E,AAC_F,AAC_G,AAC_H,AAC_I,AAC_K,...,AAC_M,AAC_N,AAC_P,AAC_Q,AAC_R,AAC_S,AAC_T,AAC_V,AAC_W,AAC_Y
0,D1001,9.42,0.00,7.97,9.42,0.72,7.25,2.17,5.07,4.35,...,4.35,2.90,5.07,2.17,2.90,6.52,4.35,7.25,0.00,0.72
1,D1005,17.46,1.59,0.00,7.94,0.00,1.59,6.35,3.17,6.35,...,1.59,4.76,3.17,7.94,9.52,7.94,4.76,4.76,1.59,1.59
2,D1008,6.90,6.90,6.90,3.45,3.45,3.45,6.90,6.90,0.00,...,0.00,0.00,6.90,0.00,20.69,10.34,6.90,3.45,0.00,3.45
3,D1010,5.43,2.17,2.72,6.52,2.72,8.70,3.26,4.35,8.15,...,2.72,2.17,7.61,5.98,7.07,8.15,3.80,7.07,0.00,2.17
4,D1015,6.17,4.94,2.47,3.09,2.47,11.73,6.79,3.70,2.47,...,0.00,6.17,8.02,4.94,4.32,3.09,6.79,8.64,3.09,2.47

In [11]:
label.T

,0,1,2,3,4,5,6,7,8,9,...,3039,3040,3041,3042,3043,3044,3045,3046,3047,3048
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [44]:
from keras.utils import to_categorical
label_binary = to_categorical(label)

In [12]:
data.index = data.ID

In [13]:
data = data.drop('ID',axis=1)

In [14]:
data.head()

,AAC_A,AAC_C,AAC_D,AAC_E,AAC_F,AAC_G,AAC_H,AAC_I,AAC_K,AAC_L,AAC_M,AAC_N,AAC_P,AAC_Q,AAC_R,AAC_S,AAC_T,AAC_V,AAC_W,AAC_Y
ID,,,,,,,,,,,,,,,,,,,,
D1001,9.42,0.00,7.97,9.42,0.72,7.25,2.17,5.07,4.35,17.39,4.35,2.90,5.07,2.17,2.90,6.52,4.35,7.25,0.00,0.72
D1005,17.46,1.59,0.00,7.94,0.00,1.59,6.35,3.17,6.35,7.94,1.59,4.76,3.17,7.94,9.52,7.94,4.76,4.76,1.59,1.59
D1008,6.90,6.90,6.90,3.45,3.45,3.45,6.90,6.90,0.00,3.45,0.00,0.00,6.90,0.00,20.69,10.34,6.90,3.45,0.00,3.45
D1010,5.43,2.17,2.72,6.52,2.72,8.70,3.26,4.35,8.15,9.24,2.72,2.17,7.61,5.98,7.07,8.15,3.80,7.07,0.00,2.17
D1015,6.17,4.94,2.47,3.09,2.47,11.73,6.79,3.70,2.47,8.64,0.00,6.17,8.02,4.94,4.32,3.09,6.79,8.64,3.09,2.47

In [146]:
#Dependencies
import keras
from keras.models import Sequential
from keras.layers import Dense

# Neural network
model = Sequential()
model.add(Dense(512, input_dim=20, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(512, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [147]:
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [149]:
history = model.fit(data, label, epochs=30)

Epoch 1/30
3049/3049 [==============================] - 1s 178us/step - loss: 0.6042 - accuracy: 0.6635
Epoch 2/30
3049/3049 [==============================] - 0s 149us/step - loss: 0.5506 - accuracy: 0.7006
Epoch 3/30
3049/3049 [==============================] - 0s 143us/step - loss: 0.5408 - accuracy: 0.7215
Epoch 4/30
3049/3049 [==============================] - 0s 143us/step - loss: 0.5253 - accuracy: 0.7252
Epoch 5/30
3049/3049 [==============================] - 0s 144us/step - loss: 0.5128 - accuracy: 0.7412
Epoch 6/30
3049/3049 [==============================] - 0s 143us/step - loss: 0.5058 - accuracy: 0.7409
Epoch 7/30
3049/3049 [==============================] - 0s 140us/step - loss: 0.4972 - accuracy: 0.7445
Epoch 8/30
3049/3049 [==============================] - 0s 141us/step - loss: 0.4815 - accuracy: 0.7504
Epoch 9/30
3049/3049 [==============================] - 0s 142us/step - loss: 0.4884 - accuracy: 0.7560
Epoch 10/30
3049/3049 [==============================] - 0s 145us/step - loss: 0.4628 - accuracy: 0.7662
Epoch 11/30
3049/3049 [==============================] - 0s 144us/step - loss: 0.4528 - accuracy: 0.7681
Epoch 12/30
3049/3049 [==============================] - 0s 149us/step - loss: 0.4484 - accuracy: 0.7734
Epoch 13/30
3049/3049 [==============================] - 1s 187us/step - loss: 0.4431 - accuracy: 0.7835
Epoch 14/30
3049/3049 [==============================] - 0s 162us/step - loss: 0.4309 - accuracy: 0.7891
Epoch 15/30
3049/3049 [==============================] - 0s 154us/step - loss: 0.4230 - accuracy: 0.7901
Epoch 16/30
3049/3049 [==============================] - 1s 173us/step - loss: 0.4165 - accuracy: 0.7947
Epoch 17/30
3049/3049 [==============================] - 1s 187us/step - loss: 0.4039 - accuracy: 0.8045
Epoch 18/30
3049/3049 [==============================] - 0s 158us/step - loss: 0.4033 - accuracy: 0.7990
Epoch 19/30
3049/3049 [==============================] - 1s 180us/step - loss: 0.3785 - accuracy: 0.8206
Epoch 20/30
3049/3049 [==============================] - 1s 167us/step - loss: 0.3708 - accuracy: 0.8242
Epoch 21/30
3049/3049 [==============================] - 0s 146us/step - loss: 0.3619 - accuracy: 0.8278
Epoch 22/30
3049/3049 [==============================] - 0s 148us/step - loss: 0.3464 - accuracy: 0.8370
Epoch 23/30
3049/3049 [==============================] - 0s 141us/step - loss: 0.3463 - accuracy: 0.8377
Epoch 24/30
3049/3049 [==============================] - 0s 156us/step - loss: 0.3151 - accuracy: 0.8491
Epoch 25/30
3049/3049 [==============================] - 0s 158us/step - loss: 0.3055 - accuracy: 0.8550
Epoch 26/30
3049/3049 [==============================] - 0s 162us/step - loss: 0.3074 - accuracy: 0.8550
Epoch 27/30
3049/3049 [==============================] - 1s 170us/step - loss: 0.2682 - accuracy: 0.8770
Epoch 28/30
3049/3049 [==============================] - 1s 171us/step - loss: 0.3406 - accuracy: 0.8465
Epoch 29/30
3049/3049 [==============================] - 1s 171us/step - loss: 0.2644 - accuracy: 0.8754
Epoch 30/30
3049/3049 [==============================] - 0s 163us/step - loss: 0.2642 - accuracy: 0.8737

In [150]:
test_df = pd.read_csv('final_amino_acid_result_valid.csv', skiprows= lambda x: True if x%2 else False)

In [151]:
lab = test_df.ID

In [152]:
test_df.index = test_df.ID

In [153]:
test_df = test_df.drop('ID',axis=1)

In [154]:
test_df.shape

(1071, 20)

In [155]:
y_predict = model.predict(test_df)

In [156]:
y_predict.shape

(1071, 2)

In [157]:
y_predict

array([[0.94613886, 0.0538611 ],
       [0.11665867, 0.8833414 ],
       [0.47023073, 0.52976924],
       ...,
       [0.998855  , 0.001145  ],
       [0.16905011, 0.8309499 ],
       [0.09590916, 0.9040909 ]], dtype=float32)

In [158]:
import numpy as np
predict = list()
for i in range(len(y_predict)):
    predict.append(np.argmax(y_predict[i]))

In [159]:
y_predict[-1][0] + y_predict[-1][1]

1.0

In [160]:
# lab = pd.DataFrame([i for i in range(5000,5000+1072)])

In [ ]:
predict = pd.DataFrame(predict)

In [31]:
predict = predict.replace(0,-1)

In [32]:
lab

0       5000
1       5001
2       5002
3       5003
4       5004
5       5005
6       5006
7       5007
8       5008
9       5009
10      5010
11      5011
12      5012
13      5013
14      5014
15      5015
16      5016
17      5017
18      5018
19      5019
20      5020
21      5021
22      5022
23      5023
24      5024
25      5025
26      5026
27      5028
28      5029
29      5030
        ...
1041    6070
1042    6071
1043    6072
1044    6073
1045    6074
1046    6075
1047    6076
1048    6077
1049    6078
1050    6079
1051    6080
1052    6081
1053    6082
1054    6083
1055    6084
1056    6085
1057    6086
1058    6087
1059    6088
1060    6089
1061    6090
1062    6091
1063    6092
1064    6093
1065    6094
1066    6095
1067    6096
1068    6097
1069    6098
1070    6099
Name: ID, Length: 1071, dtype: int64

In [33]:
output = pd.concat([lab,predict],axis=1)

In [34]:
output

        ID  0
0     5000 -1
1     5001  1
2     5002  1
3     5003 -1
4     5004 -1
5     5005 -1
6     5006 -1
7     5007 -1
8     5008 -1
9     5009 -1
10    5010  1
11    5011  1
12    5012 -1
13    5013 -1
14    5014  1
15    5015  1
16    5016 -1
17    5017  1
18    5018  1
19    5019 -1
20    5020 -1
21    5021 -1
22    5022  1
23    5023  1
24    5024  1
25    5025  1
26    5026  1
27    5028 -1
28    5029  1
29    5030 -1
...    ... ..
1041  6070  1
1042  6071 -1
1043  6072 -1
1044  6073 -1
1045  6074  1
1046  6075 -1
1047  6076  1
1048  6077 -1
1049  6078  1
1050  6079  1
1051  6080 -1
1052  6081  1
1053  6082 -1
1054  6083  1
1055  6084  1
1056  6085 -1
1057  6086 -1
1058  6087  1
1059  6088 -1
1060  6089 -1
1061  6090 -1
1062  6091  1
1063  6092  1
1064  6093 -1
1065  6094 -1
1066  6095 -1
1067  6096 -1
1068  6097 -1
1069  6098  1
1070  6099  1

[1071 rows x 2 columns]

In [35]:
output.to_csv('output13.csv', header=['ID','Lable'], index=False)